::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5)
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5)
  }

#dashboard {
    width: 800px;
    min-width: 320px;
    margin:auto;
    margin-top: 7.4em;
    margin-bottom: 10vh;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-flex;
    flex-direction: column;
}

#dashboard img {
    cursor: pointer;
}

.frm {
    width: 100%;
    min-height: 130px;
    display: inline-flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.frm img {
    object-fit: none;
    margin: auto;
    margin-left: .2em;
    margin-right: .2em;
}

.frm h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.entry {
    width: 100%;
    min-height: 140px;
    height: auto;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 0.5em;
    padding-bottom: 1em;
    background: rgba(0, 0, 0, 0.05);
}

.entryHeader {
    display: flex;
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 1em;

    justify-content: center;
}


.bannerLine {
    width: 98%;
    height: 1px;
    background-color: white;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    opacity: .3;
}

#divMessage {
    width: 100%;
    min-height: 40px;
    height: auto;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    word-break: break-all;
    justify-content: center;
}

#divMessage h1{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 1em;
    margin-right: 1em;
}


#btnShow {
    opacity: .25;
}


#txtCardNo {
    display: flex;
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin: auto;
    margin-left: .2em;
    margin-right: .2em;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
}

#txtCardNo h1 {
    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: white;
}

.textbox {
    margin: auto;
    width: 88%;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.1em;
    padding-left: .4em;
    padding-right: .4em;
    padding-top: auto;
    padding-bottom: auto;
    color: white;
    outline: none;
    margin-left: .2em;
    margin-right: .2em;
}

.cardEntry {
    display: flex;
    width: 98%;
    height: 40px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    justify-content: center;
}


.cardNo {
    width: 50px;
    height: 40px;
    outline: none;
    display: flex;
    margin: auto;
    margin-left: .2em;
    margin-right: .2em;
    cursor: pointer;
}

.cardNo h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: auto;
}

.cardTitle {
    width: 50%;
    height: 40px;
    margin: auto;
    margin-left: .2em;
    margin-right: .2em;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.cardTitle h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;    
}


.cardLink {
    width: 50%;
    height: 20px;
    margin: auto;
    margin-left: .2em;
    margin-right: .2em;
    display: flex;
    overflow: hidden;
    word-break:keep-all;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.btnCardEdit {
    margin: auto;
    margin-left: .2em;
    margin-right: .2em;
}



