

#newBody {
    flex-grow: 1;
    min-width: 320px;
    max-width: 70vw;
    height: auto;
    margin-top: 14vh;
    margin-bottom: 10vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    aspect-ratio: 2/1;
}

#leftCard {
    flex-grow: 1;
    width: 20%;
    min-width: 320px;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
}

#homeTitle {
    width: 100%;
    aspect-ratio: 2/1;
    margin-top: auto;
    margin-bottom: auto;
    height: 44%;
    word-wrap: break-word;
    display: flex;
}

#homeTitle p {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 5.42vmax;
    line-height: 100%;
    cursor: default;
    margin-top: auto;
    margin-bottom: auto;
}

#homeDesc {
    width: 100%;
    height: 10vmax;
    min-height: 25%;
    word-wrap: break-word;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

#homeDesc p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6vmax;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

#btnEnroll {
    border: 3px solid #FFFFFF;
    border-radius: 99px;
    width: 98%;
    height: 4vmax;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

#btnEnroll h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2vmax;
    line-height: 100%;
    color: #FFFFFF;
    margin: auto;
}

#rightCard {
    flex-grow: 1;
    width: 20%;
    min-width: 320px;
    margin-left: 1em;
    margin-right: 1em;
    aspect-ratio: 1/1;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 1em;
    margin-bottom: 1em;
}